@import 'fonts';
@import 'basic';
@import "header";
@import "footer";
@import "_product.scss";

.instruments {
	object-fit: cover;
	@media screen and (max-width: 1400px) {
		max-width: 55%;
	}
	@media screen and (max-width: 768px) {
		max-width: 90%;
	}
}
.range {
	.product {
		min-height: 15vh;
	}
}
.products {
	&:first-child {
		>.row {
			.product {
				@media screen and (min-width: 1024px) {
			    	padding-left: 37%;
			    }
			}
		}
	}
	> .row {
		height: 100%;
		// align-items: center;
		.product {
			display: flex;
		    align-items: center;
		    padding-left: 10vw;
		    min-height: 18vh;
		    &:hover {
	    		background-image: url('../img/product_bg.jpg');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center right;	
		    }
		    @media screen and (max-width: 992px) {
		    	min-height: 4em;
		    }
			&:not(:last-child),
			&:not(:nth-last-child(2)) {
				border-bottom: 1px solid #000;
			}
		}
	}
}
.products > .row,
.navigation > .row {
	@media screen and (min-width: 1024px) {
		height: 70vh;
	}
}
.b-left {
	border-left: 1px solid #000;
	 @media screen and (max-width: 767px) {
	 	border-left: none;
	 	> .col-12 {
	 		&:first-child {
	 			border-top: 1px solid #000;
	 		}
	 		
	 	}
	 }
}
.border-bt {
	border-bottom: 1px solid #000;
}
.border-tp {
	border-top: 1px solid #000;
}
.sidebar {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	// position: fixed;
    // width: 100%;
    // height: 7vh;
    // margin-top: -7vh;
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		display: flex;
		flex-wrap: wrap;
	    margin: 0 auto;
        justify-content: space-around;
        @media screen and (min-width: 768px) {
			width: 66%;
        }
	    @media screen and (min-width: 1400px) {
	    	justify-content: space-between;
	    }
		li {
			display: inline-block;
			margin: 1.5em .5em;
		}
	}
}
.o-hidden {
	@media screen and (min-width: 1200px) {
		overflow: hidden;
	}
}
.range {
	@media screen and (min-width: 1200px) {
	    height: 70vh;
    	overflow: auto;
	}
	>.row {
		&:last-child {
			// height: 63vh;
		    // margin-top: 7vh;
		    // overflow: auto;
		    .row {
		    	height: auto;
		    }
		}
	}
	li {
		@media screen and (max-width: 767px) {
		    text-align: center;
		}
	}
}
.fixed_height {
	display: flex;
    align-items: center;
	@media screen and (min-width: 1024px) {
		height: 15vh;
	}
}

.overflowHidden {
	// height: 70vh !important;;
    overflow: auto;
}